title:            Rebecca Williams
tagline:          A website. 
description:      A home for Rebecca Williams. 
canonical: http://jekyll.gtat.me

baseurl: /blog
url: /blog

# Owner/author information
owner:
  name:           Rebecca Williams
  avatar:         rebeccawilliams.png
  bio:            Rebecca Williams
  email:          rebecca@rebeccawilliams.us
  twitter:        internetrebecca
  github:         rebeccawilliams
  instagram:      instarebeccawilliams
  location:       "Washington, DC"
  # Plug in your disqus shortname!

tools:
  standards:      "HTML, SCSS, Jekyll"
  software:       "git"

# Links to include in top navigation
# For external links add external: true
links:
  - title: Blog
    url: /

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    America/New_York
future:      true
highlighter: pygments
markdown:    kramdown

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false

  coderay:
    coderay_line_numbers:
    coderay_line_numbers_start: 1
    coderay_tab_width: 4
    coderay_bold_every: 10
    coderay_css: class

sass:
    style: :compressed

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp"]
