
{% include head-dark.html %}

        <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
		  <p>Highlights.</p>
                  <lh><h2><span class="bb">Conferences</a></span></h2></lh>
		  <p><a href=https://csvconf.com/speakers/>csv,conf,v5</a> | May 2020</p>
		  <p><a href=https://memberaccess.aals.org/eweb/DynamicPage.aspx?WebKey=51F9EC45-5CD0-4957-BE72-C4B89FD07778&RegPath=EventRegFees&REg_evt_key=bcc3d06a-9b37-467d-8916-ca46aa97a78f&Site=AALS>The Association of American Law Schools Annual Meeting</a> | January 2020</p>
		  <p><a href=https://www.eventbrite.com/e/law-jobs-for-humans-nyc-a-career-fair-for-futurists-tickets-66681170175>Law Jobs For Humans NYC - A Career Fair For Futurists</a> | November 2019</p>
		  <p><a href=https://noaaedm19.sched.com/>2019 NOAA Environmental Data Management Workshop</a> (Keynote) | September 2019</p>
		  <p><a href=https://www.ire.org/events-and-training/event/3433/4401>NICAR 2019</a> | March 2019</p>
		  <p><a href=https://ire.org/events-and-training/event/3189/>NICAR 2018</a> | March 2018</p>
		  <p><a href=http://www.equaljusticeworks.org/post-grad/equal-justice-works-fellowships/leadership-development-training>Equal Justice Works: Leadership Development Training</a> | November 2017</p>
		  <p><a href=https://srccon.org/sessions/#proposal-745804>SRCCON: Beyond FOIA: Brainstorming Other Ways To See What Your Government Is Up To</a> | August 2017</p>
		  <p><a href=http://schedule.sxsw.com/2017/events/PP65197>SXSW: Fighting Crime with Data in the US and Abroad</a> | March 2017 </p>
		  <p><a href=https://www.w3.org/2016/11/sdsvoc/agenda>wc3 Smart Descriptions & Smarter Vocabularies (SDSVoc)</a> | December 2016 </p>
                  <p><a href=http://apdu.org/events/conference/2016-annual-conference/agenda-2016-annual-conference/>Association of Public Data Users Conference</a> | September 2016 </p>
                  <p><a href=http://civichall.org/events/access-granted/>Access Granted: How to Get Government Secrets</a> | June 2016 </p>
                  <p><a href=http://conferences.law.stanford.edu/futurelaw2016/agenda/>CodeX FutureLaw 2016</a> | May 2016 </p>
                  <p><a href=https://www.ire.org/conferences/nicar2016/>NICAR 2016</a> | March 2016 </p>
                  <p><a href=https://www.uspto.gov/about-us/organizational-offices/office-under-secretary-and-director/third-annual-safety-datapalooza>Third Annual Safety Datapalooza</a> | November 2015 </p>
                  <p><a href=http://visualized.com/politicaldata/>Visualized: Political Data</a> | May 2015</p>
                  <p><a href=https://visualized.com/>Visualized</a> | October 2015</span></p>
                  <p><a href=https://www.datacoalition.org/events/data-transparency-2015/>Data Transparency 2015</a> | October 2015</p>
                  <p><a href=https://visualized.com/politicaldata/>Visualized: Political Data</a> | May 2015</p>
                  <p><a href=https://www.law.georgetown.edu/news/press-releases/from-revolution-to-evolution-digital-tools-in-law-practice.cfm>From Revolution to Evolution: Digital Tools in Law Practice</a> | April 2015</p>
                  <p><a href=https://schedule.sxsw.com/2015/events/event_IAP35484>SXSW: Your Laws, Your Data: Making Government More Open</a> | March 2015</p>
                  <p><a href=https://blog.cartodb.com/cartodb-mexico-innovachallenge/>InnovaChallenge Mexico Hackathon</a> | November 2014</p>
                  <p><a href=https://www.eventbrite.com/e/dont-strangle-innovation-a-discussion-of-startups-regulation-and-public-policy-tickets-12463938977>Don't Strangle Innovation! A Discussion of Startups, Regulation, and Public Policy</a> | August 2014 
                  <p><a href=https://www.law.georgetown.edu/email/2014/03/iron-tech/>Iron Tech Lawyer</a> | April 2014</p>
                  <p><a href=https://www.usmayors.org/82ndWinterMeeting/media/agenda-0121.pdf>US Conference of Mayors Annual Conference</a> | January 2014</p>
                  <p><a href=https://twitter.com/leahbannon/status/409378930764677120>Tech Lady Hackathon API Workshop</a> | December 2013</p>
                <lh><h2><span class="bb">Podcasts</a></span></h2></lh>
                  <p>PolicyViz (podcast) - ft GovEx | 2016 </p>
                  <p>This Week in Law (podcast) | 2015 </p>
                  <p>PolicyViz (podcast) | 2015 </p>
		<lh><h2><span class="bb">Press</a></span></h2></lh>
                  <p><a href=https://www.theverge.com/2020/4/14/21219561/coronavirus-pandemic-unemployment-systems-cobol-legacy-software-infrastructure>The Verge: Unemployment Checks Are Being Held Up by a Coding Language Almost Nobody Knows by Makena Kelly</a> | 2020 </p>
<p><a href=https://www.forbes.com/sites/valentinpivovarov/2018/11/07/legalhackers/#51c02cd05d82>Forbes: How Legal Hackers Are Changing The Legal Industry by Valentin Pivovarov</a> | 2018</a>
		  <p><a href=https://www.wired.com/2017/05/hackers-arent-ones-defending-right-federal-data/>WIRED: Hackers Aren't the Only Ones Defending Your Right to Federal Data by Megan Molteni</a> | 2017 </p>
          </article>
        </section>
    </div>

{% include footer.html %}
