
{% include head-dark.html %}
<head>
<style>
table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
}
</style>
</head>
        <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                     <lh><h2><span class="bb">Work Experience</a></span></h2></lh>
<p><table>
<tr>
    <td><i><a href=https://www.belfercenter.org/publication/announcing-technology-and-public-purpose-fellowship-cohort-2020-21>Accepted<br>9/2020-5/2021</a></td>
   <td>Technology & Public Purpose Fellow, Belfer Center for Science and International Affairs<br>
     Harvard Kennedy School</i></td>	
</tr>                   
<tr>
    <td>9/2017-8/2020</td>
   <td>Policy Analyst, Office of the Federal Chief Information Officer<br>
The White House Office of Management and Budget</td>	
</tr>
<tr>
    <td>2/2016-8/2017</td>
    <td>Senior Analyst, Center for Government Excellence<br>	
Johns Hopkins University</td>	
  </tr>	
  <tr>	
    <td>6/2015-1/2016</td>	
    <td>Policy Analyst, Office of the Federal Chief Information Officer<br>	
The White House Office of Management and Budget</td>	
  </tr>	
  <tr>	
    <td>8/2014-6/2015</td>	
    <td>IT Specialist, Data.gov<br>	
General Services Administration</td>	
  </tr>	
  <tr>	
    <td>8/2013-8/2014</td>	
    <td>Policy Analyst, Municipal Transparency Program<br>	
Sunlight Foundation</td>	
  </tr>	
  <tr>	
    <td>4/2012-9/2012</td>	
    <td>Consultant, Smart Cities Development<br>	
Cities Alliance (World Bank & UN Habitat)</td>	
  </tr>	
  <tr>	
    <td>1/2011-1/2012</td>	
    <td>Research Assistant, Energy Policy<br>	
Regional Plan Association </td>	
  </tr>	
  <tr>	
    <td>9/2009-12/2009</td>	
    <td>Consultant, Master Plan Committee<br>	
Town of Ludlow, Massachusetts</td>	
  </tr>	
  <tr>	
    <td>1/2009-5/2009</td>	
    <td>Public Interest Extern for Code Enforcement, Legal Department<br>	
City of Springfield, Massachusetts</td>	
  </tr> 	
 <tr>
  <td>9/2007-5/2008</td>
    <td>Paralegal<br>	
Massachusetts Fair Housing Center</td>	
  </tr> 	
 </table></p>	
   <lh><h2><span class="bb">Awards</a></span></h2></lh>
<p><table>
  <tr>
    <td>2019</td>
    <td>Federal 100</td>
  </tr>
  <tr>
    <td>2014</td>
    <td>Fastcase 50</tr>
  </tr>
  <tr>        
    <td>2014</td>
    <td>ABA 10 Women to Watch in Legal Tech</td>
  </tr>
            </table></p>
  <lh><h2><span class="bb">Teaching</a></span></h2></lh>
<p><table>
  <tr>
    <td>Fall 2019</td>
    <td>Guest Lecturer, Data, Digital + Social Impact Seminar: Balancing Data Use with Data Privacy<br>Georgetown University</td>
  </tr>
  <tr>
    <td>Spring 2018</td>
    <td>Guest Lecturer, GW Law 6351: Reading Group (Open Government Data)<br>George Washington University School of Law</tr>
  </tr>
  <tr>        
    <td>Spring 2017</td>
    <td>Instructor, Government Analytics 470.90: Performance Analytics - Tools & Techniques<br>Johns Hopkins University</td>
  </tr>
  <tr>        
    <td>Spring 2015</td>
    <td>Guest Lecturer, Project Based Practicum: Civ Tech: Digital Tools and Access to Justice<br>Georgetown Law School</td>
  </tr>
  <tr>        
    <td>Spring 2009</td>
    <td>Teaching Assistant, Environmental Design 205: “Dynamics of Human Habitations”<br>University of Massachusetts</td>
  </tr>
            </table></p>
  <lh><h2><span class="bb">Education</a></span></h2></lh>
<p><table>
  <tr>
    <td>2009</td>
    <td>J.D. (participated in a Joint Masters of Regional Planning program)<br>Western New England Law School</td>
  </tr>
  <tr>
    <td>2004</td>
    <td>B.A. Communication<br>University of Massachusetts</tr>
  </tr>
            </table></p>
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}
